* {
  background-color: black;
  font-family: Verdana;
}

.link {
  color: Aquamarine;
  text-align: center;
}

.top {
  font-weight: normal;
  text-align: center;
  font-size: 50px;
  color: white;
}

.video {
  text-align: center;
}

.middle {
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.middle2 {
  text-align: center;
  font-size: 21px;
  color: gray;
}

.bottom {
  text-align: center;
  color: white;
}

.images {
  text-align: center;
}

.footer {
  text-align: right;
  color: gray;
}
